.splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: bottom;
  overflow: hidden;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.logo {
}
