.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1080px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 100px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1800px;
    padding: 0 24px;
  }
}

