.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 0;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.icon.withColor svg path {
  fill: currentColor;
}

